@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  overflow: auto;
  font-family: "Raleway", sans-serif;
}

/* App.css */
.App {
  position: relative;
  transition: opacity 1s ease-in-out;
}

.App.loading .content {
  opacity: 0;
}

.App.loaded .content {
  opacity: 1;
}

.content {
  
  transition: opacity 1s ease-in-out;
}
